[Desktop Entry]
Version=1.0
Type=Application
Name=Scrcpy GUI
GenericName=Android Screen Mirroring
Comment=Graphical interface to mirror and control Android devices using scrcpy
Exec=scrcpy-gui %U
Icon=com.github.scrcpy_gui
Terminal=false
Categories=Utility;RemoteAccess;GTK;
Keywords=scrcpy;android;mirror;adb;screen;adwaita;
StartupWMClass=com.github.scrcpy_gui
